.apphub {
  position: relative;
  width: 100%;

  height: 65vh;
  min-height: 440px;

  overflow: hidden;

  box-sizing: border-box;

	background-image: url("../img/bg-apphub.jpg");
   background-size: cover;
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-position: 50% 50%;
   transition-property: opacity;
}