.modules {
  position: relative;
  width: 100%;
  height: 87vh;
  min-height: 635px;

  padding-top: 60px;

  background-color: #F7F9F6;

  overflow: hidden;

  box-sizing: border-box;

	@media @tablet-widths {
    height: 75vh;
	  min-height: 550px;

	}
}

.modules__list {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
}

.modules__item {
	width: 33.3%;
	margin-bottom: 20px;

	@media @tablet-widths {
		width: 25%;
	}

	&.modules__item--java,
	&.modules__item--common {

		width: 100%;

		& .modules__links-list {

			display: flex;
			flex-wrap: wrap;
			flex-direction: row;

			& .modules__links-list__item {

				width: 33.3%;

				@media @tablet-widths {

  		    width: 25%;
  	    }
			}
		}
	}
}

.modules__item-title {
	display: block;
	padding-left: 3px;

	font-family: ubuntu, open-sans, sans-serif;
  color: #fff;
  font-size: 14px;
  line-height: 22px;

	background: linear-gradient(45deg, #000, #F7F9F6 70%);

  @media @tablet-widths {

    font-size: 20px;
    line-height: 30px;

		background: linear-gradient(45deg, #000, #F7F9F6 60%);
  }
}

.modules__links-list__item {
	margin-bottom: 10px;
}

.modules__link {
	font-family: ubuntu, open-sans, sans-serif;
  color: #0081C2;
  font-size: 12px;
  line-height: 22px;

  &:hover {
    color: #083954;
  }

  &:active {
    display: block;
    padding-top: 10px;
        color: #000;
		outline: none;
		border: none;
  }

  &:visited {
     color: #EF7D55;
   }

  @media @tablet-widths {

    font-size: 16px;
    line-height: 24px;
  }
}