.partners {
  position: relative;
  width: 100%;
	padding: 60px 0;
	padding-bottom: 40px;

	background: #F7F9F6;

  overflow: hidden;

  box-sizing: border-box;
}

.partners__list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}